@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --app-grid: auto 1fr auto;
  --picker-control-grid: 80px 1fr 50px;
  --rainbow: linear-gradient(90deg in oklch longer hue, salmon, salmon);

  --animate-bgscroll: bgscroll 4s ease-out forwards;
  @keyframes bgscroll {
    0%, {
      background-position-x: 0%;
    }

    100% {
      background-position-x: 100%;
    }
  }

}

html {
  background: var(--color-gray-100);
}

a:hover {
  color: var(--color-blue-500);
}
